  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">DSU-Forward</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
       aria-expanded="false" aria-label="Toggle navigation"
       (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [ngClass]="{'collapse' : collapsed, 'navbar-collapse' : true}">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="postArchive" routerLinkActive="active">Post Archive</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Media
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="https://www.facebook.com/DSUforwardSkovde" target="_blank">Facebook</a>
              <a class="dropdown-item" href="https://www.instagram.com/dsu_forward/" target="_blank">Instagram</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="questions" routerLinkActive="active">Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
