<footer class="py-4 bg-dark">
  <!-- /.container -->
  <div class="container">
    <div class="icons h-100 text-center text-lg-center my-auto">
      <ul class="list-inline mb-0">
        <li class="list-inline-item mr-3">
          <a href="https://www.instagram.com/dsu_forward/" target="_blank">
            <i class="fab fa-instagram fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/DSUforwardSkovde" target="_blank">
            <i class="fab fa-facebook fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
    <p class="text-muted small mb-4 mb-lg-0">Copyright &copy; Carl-Olof Söderström 2019</p>
  </div>
</footer>
