<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/69461589_106145964098129_23654278979649536_o.png?_nc_cat=111&_nc_ohc=Gd0l93inUxgAQnTeZpnbmmrDcFUzHchH5KJRB2YvC_xfwj_64qaOwcZvg&_nc_ht=scontent-arn2-1.xx&oh=46b112e2bef6194ebbae1f0889f8a701&oe=5E9B76C8')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/10382132_10152257707773507_4385132564945583927_o.jpg?_nc_cat=110&_nc_ohc=SDv6RmtaYu4AQkNHJe2FOt5BO-ptzqOc20S09EOy7219SG3oE7SZXRLAQ&_nc_ht=scontent-arn2-1.xx&oh=47aa7d8491df957842290feda90e24df&oe=5E697882')">
        <div class="carousel-caption d-none d-md-block">
          <h3>The Team</h3>
          <p>Located in Skövde, Sweden</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Share your knowledge</h3>
          <p>Feature your projects</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
