<div class="container">
  <h2></h2>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top"
            src="https://scontent-arn2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/75244418_981544275565186_512949193302888471_n.jpg?_nc_ht=scontent-arn2-1.cdninstagram.com&_nc_cat=110&_nc_ohc=dBFSMamAZgUAX_RInIx&oh=90ff184452bbac2ebd414519e202fea3&oe=5EAF53D9"
            alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Unity-Asset</a>
          </h4>
          <p class="card-text">
            <p>
              🌟 We start early with a recommendation for Unity Synty Studios Mega Bundle! Get 6 large asset-packs and
              another 13 packs for about 700 SEK (VAT included) 🤯
            </p>
            <p>
              I have personally bought and used Synty Studio assets before. Can confirm that they are decently good
              quality and you get what you pay for. No AAA quality and not quite perfect. But works really well for
              creating game prototypes, game concepts and for starting to create games with already completed assets in
              the same theme! With 90% off there is clearly great value to be had👍
            </p>
            <p>
              Take a look and see if it might be something for you! ✨
            </p>
            <p>
              <a href="https://assetstore.unity.com/mega-bundles/synty-studios" target="_blank">Link to Asset Store</a>
            </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Gameproject 1</a>
          </h4>
          <p class="card-text">
            Början på ett nytt år och det är endast 3 veckor kvar tills Spelprojekt 1 drar igång!
          </p>
          <p>
            En av de viktigaste sakerna under spelprojektet är att ha ett bra scope och inte försöka göra allt på endast 10 veckor.
          </p>
          <p>
            Innan vi blickar framåt kan vi ta en tillbakablick på de spelprojekt som gjordes 2019 och 2018.
            Här finns en spellista med alla trailers som finns upplagda:
          </p>
          <p>
            Försök få en känsla för hur mycket man kan hinna med och bli inspirerad av några av de fantastiska spelen som gjorts!
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Gameproject 1</a>
          </h4>
          <p class="card-text">
            It is the begining of a new year and in bearly 3 weeks the gamedevelopment students at the University of Skövde will embark on a 10 week project;
            where they will create brand new games in teams of 10-15 people.
          </p>
          <p>
            One of the most important things ahead of a project with that short time limit is defining the scope of the game.
          </p>
          <p>
            On our new webb-page you can find a link to a playlist with all public game trailers from the 2019 and 2018 year projects!
            (Link in bio)
          </p>
          <p>
            Try get a feeling of how much is possible and get inspired by some of the amazing creations from past years!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
